@import "tailwindcss";

@font-face {
  font-family: "Noto Sans KR";
  src: url("./assets/fonts/NotoSansKR-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("./assets/fonts/NotoSansKR-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("./assets/fonts/NotoSansKR-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@theme {
  --color-primary: #4880ee;
  --color-red: #e84118;
  --color-gray: #dadada;
  --color-light-gray: #f2f4f6;
  --color-white: #ffffff;
  --color-black: #222222;
  --color-t-primary: #353c49;
  --color-t-secondary: #6d7582;
  --color-t-subtitle: #8d94a0;
}

:root {
  font-family: "Noto Sans KR", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-text-primary);
  background-color: var(--color-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
