@import "tailwindcss";

@font-face {
  font-family: "Noto Sans KR";
  src: url("./assets/fonts/NotoSansKR-Regular.woff") format("woff"),
    url("./assets/fonts/NotoSansKR-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("./assets/fonts/NotoSansKR-Medium.woff") format("woff"),
    url("./assets/fonts/NotoSansKR-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("./assets/fonts/NotoSansKR-Bold.woff") format("woff"),
    url("./assets/fonts/NotoSansKR-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: #4880ee;
  --color-red: #e84118;
  --color-gray: #dadada;
  --color-light-gray: #f2f4f6;
  --color-white: #ffffff;
  --color-black: #222222;
  --color-t-primary: #353c49;
  --color-t-secondary: #6d7582;
  --color-t-subtitle: #8d94a0;
  --color-hr-gray: #d2d6da;
}

/* prettier-ignore */
@layer components {
  .text-title1 { @apply text-[24px] leading-[24px] font-bold; }
  .text-title2 { @apply text-[22px] leading-[24px] font-bold; }
  .text-title3 { @apply text-[18px] leading-[18px] font-bold; }
  .text-h3-bold { @apply text-[18px] leading-[26px] font-bold; }
  .text-body1 { @apply text-[20px] leading-[20px] font-medium; }
  .text-body2 { @apply text-[14px] leading-[14px] font-medium; }
  .text-body2-bold { @apply text-[14px] leading-[14px] font-bold; }
  .text-caption { @apply text-[16px] leading-[16px] font-medium; }
  .text-small { @apply text-[10px] leading-[10px] font-medium; }
  .text-search-result { @apply text-[16px] leading-[24px] font-medium; }
  .text-book-detail-btn { @apply text-[16px] leading-[24px] font-medium; }
}

:root {
  font-family: "Noto Sans KR", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-text-primary);
  background-color: var(--color-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}
